#spot-details-page {
    padding: 0 3em;
}

#spot-details-page h2 {
    text-align: start;
    font-size: 25px;
    margin: 0;
    padding-top: .75em;
}

#spot-details-page h3 {
    font-size: 14px;
    font-weight: 600;
}

#spot-details-page p {
    font-size: 14px;
}

#spot-details-page li {
    font-size: 14px;
}


#spot-details-page ul {
    padding: 0;
    align-items: center;
}

#spot-details-page h4 {
 font-size: 14px;
 color: rgb(172, 171, 171);
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-1 {
    grid-column: span 2;
    grid-row: span 2;
}

.image-2, .image-3, .image-4, .image-5 {
    grid-column: span 1;
    grid-row: span 1;
}

.review {
    padding: .75em 0;
}

.review * {
    margin: 0;
    padding-bottom: .5em;
}

.review-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
    padding: 0em .5em;
    width: fit-content;
    background-color: rgb(112, 110, 110);
    color: white;
    border: solid 2px black;
    box-shadow: 2px 2px 0px black;
}

#spot-details {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#reserve {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5em;
    border: black solid 2px;
    border-radius: 10px;
    padding: 1em;
    margin-top: .75em;
    max-height: 4em;
}

#reserve-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    min-width: 250px;
}

#price {
    align-items: end;
}

#right {
    display: flex;
    align-items: center;
}

#reviews-stats {
    justify-content: start;
    font-weight: 500;
}

#reviews-stats * {
    font-size: 20px;
    align-items: center;
}